<h1>Events by <%= current_user.username %> </h1>

<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<h2>Event to attend</h2>

<h3>Previous Events</h3>

<ul>
  <% current_user.attended_events.where('date < ?', DateTime.now).each do |event| %>
    <li><%= link_to event.name, event %> / <%= event.date%> /<%= DateTime.now %></li>
  <% end %>
</ul>

<h3>Upcoming Events</h3>

<ul>
  <% current_user.attended_events.where('date > ?', DateTime.now).each do |event| %>
    <li><%= link_to event.name, event %> / <%= event.date%> /<%= DateTime.now %></li>
  <% end %>
</ul>